In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame({'A':[1,2], 'B':['a','b']})

In [8]:
row = pd.DataFrame({'A':[1], 'B':['b']})

In [12]:
row.isin(df.reset_index()).all(axis = None)

False

In [13]:
df = pd.read_csv("data.csv")

In [18]:
df

,current_time,title,time_location,price,picture_links_list,item_link
0,2023-03-09 19:46:40,Paul Frankl Style Six Strand Pretzel Three Sea...,"Listed 55 minutes ago in Houston, TX",$695,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/5880...
1,2023-03-09 19:46:36,Special ivory gold sofa loveseat set 🤩 no cred...,"Listed in Houston, TX",$100\n · In stock,[],https://www.facebook.com/marketplace/item/2066...
2,2023-03-09 19:46:32,Couch,"Listed 51 minutes ago in Sugar Land, TX",$400,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/1427...
3,2023-03-09 19:46:29,Sofa Set,"Listed 45 minutes ago in Houston, TX",$400,['https://scontent-dfw5-2.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/8789...
4,2023-03-09 19:46:25,(NEW-OPEN BOX) Albany Park Kova Modular Cloud ...,"Listed 45 minutes ago in Richmond, TX","$1,699",['https://scontent-dfw5-2.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/9136...
...,...,...,...,...,...,...
268,2023-03-09 18:00:08,Massage / Heating Brown Faux Leather Electric ...,"Listed about an hour ago in Houston, TX",$699,['https://scontent-dfw5-2.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/4957...
269,2023-03-09 18:00:11,Malibu black sectional ÃÂÃÂÃÂÃÂ¢ÃÂÃÂ...,"Listed in Houston, TX","$1,199\n ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ· In ...",['https://scontent-dfw5-2.xx.fbcdn.net/v/t15.5...,https://www.facebook.com/marketplace/item/3463...
270,2023-03-09 18:00:15,3 Seater Couch - Galleria Furniture,"Listed about an hour ago in Sugar Land, TX",$700,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/7506...
271,2023-03-09 18:00:18,GLANDE HCXZ TWO TONE LIVING ROOM SET 3PC,"Listed in Houston, TX",$1\n ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ· In stock,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/1153...
272,2023-03-09 18:00:21,Couch Set Reclining,"Listed about an hour ago in Houston, TX","$1,000",['https://scontent-dfw5-2.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/5891...

In [24]:
columns = ['title', 'price']
row = pd.DataFrame({'title': ['Couch'], 'price': ['$400']})
row[columns].isin(df[columns].reset_index()).all(axis=None)

False

In [25]:
row[columns].isin(df[columns].reset_index())

   title  price
0  False  False

In [27]:
row[columns]

   title price
0  Couch  $400

,current_time,title,time_location,price,picture_links_list,item_link
2,2023-03-09 19:46:32,Couch,"Listed 51 minutes ago in Sugar Land, TX",$400,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/1427...
33,2023-03-09 19:32:11,Couch,"Listed 36 minutes ago in Sugar Land, TX",$400,['https://scontent-dfw5-1.xx.fbcdn.net/v/t45.5...,https://www.facebook.com/marketplace/item/1427...

In [26]:
df[columns]

,title,price
0,Paul Frankl Style Six Strand Pretzel Three Sea...,$695
1,Special ivory gold sofa loveseat set 🤩 no cred...,$100\n · In stock
2,Couch,$400
3,Sofa Set,$400
4,(NEW-OPEN BOX) Albany Park Kova Modular Cloud ...,"$1,699"
...,...,...
268,Massage / Heating Brown Faux Leather Electric ...,$699
269,Malibu black sectional ÃÂÃÂÃÂÃÂ¢ÃÂÃÂ...,"$1,199\n ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ· In ..."
270,3 Seater Couch - Galleria Furniture,$700
271,GLANDE HCXZ TWO TONE LIVING ROOM SET 3PC,$1\n ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ· In stock
272,Couch Set Reclining,"$1,000"